<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your password reset request has been received. Please log in with the following password:
    <p>
    <p><b><%= @new_password %></b>
    <p>
    <p>You should change your password to something else on your next login, though this is not enforced.
    <p>
    <p>If you did not request this password change, please reach out to an officer.
  </body>
</html>