<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Name: <%= @user.first_name %>
    <p>
    <p>Number of new notes: <%= @notes.count %>
    <p>Number of new status changes: <%= @status_changes.count %>
  </body>
</html>