#bottom-nav {
  width: 100%;
  max-width: 500px;
  min-height: 64px;

  position: fixed;
  bottom: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(-180deg, rgba(255,255,255,0.90) 0%, #FFFFFF 100%);
  z-index: 2;

  border-top: 1px solid #D5D9E0;
}

#logo {
  width: 112px;
  height: 48px;

  margin-left: 8px;
}

#nav-button-group {
  display: flex;
}

.nav-button {
  width: 100%;
  margin-right: 12px;
  padding: 0px 8px;

  color: #FFFFFF;
  background-color: #363F4D;
  opacity: 0.9;
}

.img-button {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
