#ranking-list {
  margin-top: 24px;
}

// team account names

#team-details {
  margin-top: 24px;
  padding: 8px 0px;
}

#team-details img {
  margin-right: 8px;
}

.info-container.dark-theme {
  color: #FFFFFF;
  background: #2E3A42;
}

.team-header {
  width: 100%;
  margin: 0px 8px;
  line-height: 16px;
}

.team-header-name {
  color: #A70300;
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.team-header-name.dark-theme {
  color: #FFFFFF;
}

.team-header-faction {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.team-header-faction div {
  color: #6B7D8C;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.team-header-faction.dark-theme {
  color: #BDC1C6;
}

// team list item
.team-list-item {
 width: 100%;
 max-width: 100%;
 position: relative;
 margin-bottom: 6px;
}

.team-rank {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #F5F5F5;
  border: 1px solid #4F5B69;
  color: #191C24;
  font-size: 24px;
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
}

.team-rank.dark-theme {
  background: #2E3A42;
  background: #4F5B69;
  border: 1px solid #2E3A42;
  color: #FFFFFF;
}

.team-names {
  position: relative;
  top: 0px;
  left: 16px;

  display: flex;
  flex-direction: column;

  width: calc(100% - 58px);
  border: 1px solid #D5D9E0;
  padding: 8px 8px 8px 32px;

  background: #FFFFFF;
}

.team-names.dark-theme, .match-names.dark-theme {
  border: 1px solid #2E3A42;
}

.team-names h2, .match-names h2 {
  margin: 0px;
  color: #A70300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;
}

.team-faction-and-owner {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #6B7D8C;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.owner {
  text-align: right;
}

.team-names.dark-theme h2, .match-names.dark-theme h2 {
  color: #2E3A42;
}

.team-names.retired {
  left: 0px;
  padding-left: 8px;
  width: calc(100% - 18px);
}
.team-names.retired h2 {
  color: #6B7D8C;
}


// matches

.match-names {
  // position: relative;
  // top: 0px;
  // left: 16px;

  display: flex;
  flex-direction: column;

  width: calc(100% - 16px);
  border: 1px solid #D5D9E0;
  padding: 8px 8px 8px 8px;

  background: #FFFFFF;
}

.date {
 color: #191C24;
 line-height: 16px;
 letter-spacing: 0.25px;
 font-weight: 500;
 margin-bottom: 8px;
}

.match-results-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.match-results {
  display: flex;
  flex-direction: column;
  color: #191C24;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.25px;
}

.match-results-container img {
  margin: 0;
}
