.field-up-down {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-adjust-button {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 24px;
}
