.field-up-down {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-adjust-button {
  min-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 24px;
}

.player-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-title .img-button {
  margin-right: 0px;
}
