.link-titlebar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.link-titlebar h1 {
  width: auto;
}

.item-note {
  margin-top: 6px;
  cursor: pointer;
}

.img-action-button-container {
  align-items: flex-end;
  display: flex;
  margin-left: 12px;
}

.img-action-button-container .img-button {
  bottom: -4px;
  position: relative;
}

.item-name {
  width: calc(100% - 12px);
}

.item-qty {
  width: 60px;
}

.checkbox-input {
  align-items: center;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.checkbox {
  margin-right: 8px;
  width: 40px;
}

.checkbox-label {
  margin-top: 1px
}

.ordermaster-nav {
  margin-top: 24px;
  display: flex;
}

.ordermaster-button {
  border-radius: 4px;
  font-size: 14px;
  margin-left: 6px;
  margin-right: 6px;
}
