/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require 00reset
 *= require_self
 *= require 01form
 *= require 02nav
 */

html {}
body {}
main {}

#root {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  background-image: url('symbols-background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  width: 100%;

  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #2E3A42;
  line-height: 32px;
}

.frame {
  width: 100%;
  max-width: 500px;
  padding: 24px;
}

.link {
  letter-spacing: 0.25px;
  text-decoration: underline;
}
