/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require 00reset
 *= require_self
 *= require 01form
 *= require 02nav
 *= require 03account
 *= require 04teamandmatchlist
 *= require 05retire
 */


html {
  background: url(texture.png), url(blood-splatter.png) right bottom no-repeat fixed, #ffffff;
}

main {}

#root {
  display: flex;
  justify-content: center;
}

h1 {
  width: 100%;
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #2E3A42;
  line-height: 32px;
}

h2 {
  width: 100%;
  font-family: 'Black Ops One', cursive;
  font-weight: 400;
  font-size: 16px;
  color: #2E3A42;
  line-height: 24px;

  margin-top: 24px;
  margin-bottom: 8px;
}

#background {
  position: fixed;
  top: 0px;
  z-index: 1;

  width: 100%;
  height: 100%;
}

#background img {
  width: 100%;
  height: 100%;

  min-height: 500px;

}

.frame {
  width: 100%;
  max-width: 500px;
  padding: 24px;
  z-index: 2;

  margin-bottom: 64px;
}

.link {
  letter-spacing: 0.25px;
  text-decoration: underline;
}
